<div class="flex items-center">
  <div class="data" *ngIf="errors.length === 0">{{ error }}</div>
  <div class="error-message" *ngIf="errors.length > 0">
    <div class="st-meesage error">
      <div class="errors">
        <ul class="st-message-desc">
          <ng-container>
            <li *ngFor="let error of errors">
              {{ error }}
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>

  <div class="dismiss ml-auto">
    <button mat-icon-button class="text-white" (click)="snackBarRef.dismiss()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
